[Desktop Entry]
Type=Application
X-DocPath=kpovmodeler/index.html
Exec=kpovmodeler -caption "%c" %f
Icon=kpovmodeler
MimeType=application/x-kpovmodeler;
Name=KPovModeler
Name[be]=KPovModeler
Name[bg]=KPovModeler
Name[bs]=KPovModeler
Name[ca]=KPovModeler
Name[ca@valencia]=KPovModeler
Name[cs]=KPovModeler
Name[da]=KPovModeler
Name[de]=KPovModeler
Name[el]=KPovModeler
Name[en_GB]=KPovModeler
Name[eo]=KPovModeler
Name[es]=KPovModeler
Name[et]=KPovModeler
Name[fr]=KPovModeler
Name[ga]=KPovModeler
Name[gl]=KPovModeler
Name[he]=KPovModeler
Name[hi]=के-पोव-माडलर
Name[hne]=के-पोव-माडलर
Name[hr]=KPovModeler
Name[hu]=KPovModeler
Name[is]=KPovModeler
Name[it]=KPovModeler
Name[ja]=KPovModeler
Name[km]=KPovModeler
Name[ku]=KPovModeler
Name[lt]=KPovModeler
Name[lv]=KPovModeler
Name[ml]=കെപൊവ്മോഡെലര്‍
Name[ms]=KPovModeler
Name[nb]=KPovModeler
Name[nds]=KPovModeler
Name[nl]=KPovModeler
Name[pa]=KPovModeler
Name[pl]=KPovModeler
Name[pt]=KPovModeler
Name[pt_BR]=KPovModeler
Name[ro]=KPovModeler
Name[ru]=KPovModeler
Name[sk]=KPovModeler
Name[sv]=Kpovmodeler
Name[tr]=KPovModeler
Name[uk]=KPovModeler
Name[vi]=KPovModeler
Name[x-test]=xxKPovModelerxx
Name[zh_CN]=KPovModeler
Name[zh_TW]=KPovModeler
GenericName=Povray Modeler
GenericName[bg]=Моделиране за Povray
GenericName[bs]=Povray modelar
GenericName[ca]=Modelador pel Povray
GenericName[ca@valencia]=Modelador pel Povray
GenericName[cs]=Modeler pro Povray
GenericName[da]=Povray-modellering
GenericName[de]=Povray-Modellierer
GenericName[el]=Povray Modeler
GenericName[en_GB]=Povray Modeller
GenericName[eo]=Desegnilo por Povray
GenericName[es]=Modelador de Povray
GenericName[et]=Povray modelleerija
GenericName[eu]=Povray modelatzailea
GenericName[fr]=Modeleur POV-Ray
GenericName[ga]=Samhaltóir Povray
GenericName[gl]=Modelador de Povray
GenericName[he]=עורך תלת-ממד Povray
GenericName[hi]=पोवरे मॉडलर
GenericName[hne]=पोवरे माडलर
GenericName[hu]=Povray-modellező
GenericName[is]=Povray 3D módelhönnuður
GenericName[it]=Modellatore Povray
GenericName[ja]=Povray モデラー
GenericName[km]=កម្មវិធី​ធ្វើ​ម៉ូដែល Povray
GenericName[ku]=Modelkerê Povray
GenericName[lt]=Povray Modeler
GenericName[lv]=Povray modelētājs
GenericName[ml]=പൊവ്റേ മൊഡെലര്‍
GenericName[ms]=Pemodel Povray
GenericName[nb]=Povray-modellbygger
GenericName[nds]=Povray-Modellmaker
GenericName[nl]=Povray-modeler
GenericName[pa]=ਪੋਵਰੇ ਮੋਡੀਲੀਰ
GenericName[pl]=Modeler Povray
GenericName[pt]=Modelador de Povray
GenericName[pt_BR]=Modelador de Povray
GenericName[ro]=Modelator Povray
GenericName[ru]=Программа трассировки лучей
GenericName[sk]=Povray modelovací nástroj
GenericName[sv]=Modellering med Povray
GenericName[tr]=Povray Modelleyici
GenericName[uk]=Створювач моделей Povray
GenericName[vi]=Bộ tạo mô hình Povray
GenericName[x-test]=xxPovray Modelerxx
GenericName[zh_CN]=Povray 模型生成器
GenericName[zh_TW]=Povray 模型器
Categories=Qt;KDE;Graphics;
