[Desktop Entry]
Type=Application
X-DocPath=povmodeler/index.html
Exec=povmodeler -caption "%c" %f
Icon=povmodeler
MimeType=application/x-povmodeler;
Name=PovModeler
Name[be]=PovModeler
Name[bg]=PovModeler
Name[bs]=PovModeler
Name[ca]=PovModeler
Name[ca@valencia]=PovModeler
Name[cs]=PovModeler
Name[da]=PovModeler
Name[de]=PovModeler
Name[el]=PovModeler
Name[en_GB]=PovModeler
Name[eo]=PovModeler
Name[es]=PovModeler
Name[et]=PovModeler
Name[fr]=PovModeler
Name[ga]=PovModeler
Name[gl]=PovModeler
Name[he]=PovModeler
Name[hi]=के-पोव-माडलर
Name[hne]=के-पोव-माडलर
Name[hr]=PovModeler
Name[hu]=PovModeler
Name[is]=PovModeler
Name[it]=PovModeler
Name[ja]=PovModeler
Name[km]=PovModeler
Name[ku]=PovModeler
Name[lt]=PovModeler
Name[lv]=PovModeler
Name[ml]=കെപൊവ്മോഡെലര്‍
Name[ms]=PovModeler
Name[nb]=PovModeler
Name[nds]=PovModeler
Name[nl]=PovModeler
Name[pa]=PovModeler
Name[pl]=PovModeler
Name[pt]=PovModeler
Name[pt_BR]=PovModeler
Name[ro]=PovModeler
Name[ru]=PovModeler
Name[sk]=PovModeler
Name[sv]=Kpovmodeler
Name[tr]=PovModeler
Name[uk]=PovModeler
Name[vi]=PovModeler
Name[x-test]=xxPovModelerxx
Name[zh_CN]=PovModeler
Name[zh_TW]=PovModeler
GenericName=Povray Modeler
GenericName[bg]=Моделиране за Povray
GenericName[bs]=Povray modelar
GenericName[ca]=Modelador pel Povray
GenericName[ca@valencia]=Modelador pel Povray
GenericName[cs]=Modeler pro Povray
GenericName[da]=Povray-modellering
GenericName[de]=Povray-Modellierer
GenericName[el]=Povray Modeler
GenericName[en_GB]=Povray Modeller
GenericName[eo]=Desegnilo por Povray
GenericName[es]=Modelador de Povray
GenericName[et]=Povray modelleerija
GenericName[eu]=Povray modelatzailea
GenericName[fr]=Modeleur POV-Ray
GenericName[ga]=Samhaltóir Povray
GenericName[gl]=Modelador de Povray
GenericName[he]=עורך תלת-ממד Povray
GenericName[hi]=पोवरे मॉडलर
GenericName[hne]=पोवरे माडलर
GenericName[hu]=Povray-modellező
GenericName[is]=Povray 3D módelhönnuður
GenericName[it]=Modellatore Povray
GenericName[ja]=Povray モデラー
GenericName[km]=កម្មវិធី​ធ្វើ​ម៉ូដែល Povray
GenericName[ku]=Modelkerê Povray
GenericName[lt]=Povray Modeler
GenericName[lv]=Povray modelētājs
GenericName[ml]=പൊവ്റേ മൊഡെലര്‍
GenericName[ms]=Pemodel Povray
GenericName[nb]=Povray-modellbygger
GenericName[nds]=Povray-Modellmaker
GenericName[nl]=Povray-modeler
GenericName[pa]=ਪੋਵਰੇ ਮੋਡੀਲੀਰ
GenericName[pl]=Modeler Povray
GenericName[pt]=Modelador de Povray
GenericName[pt_BR]=Modelador de Povray
GenericName[ro]=Modelator Povray
GenericName[ru]=Программа трассировки лучей
GenericName[sk]=Povray modelovací nástroj
GenericName[sv]=Modellering med Povray
GenericName[tr]=Povray Modelleyici
GenericName[uk]=Створювач моделей Povray
GenericName[vi]=Bộ tạo mô hình Povray
GenericName[x-test]=xxPovray Modelerxx
GenericName[zh_CN]=Povray 模型生成器
GenericName[zh_TW]=Povray 模型器
Categories=Qt;Graphics;
