[Desktop Entry]
Icon=kpovmodeler
MimeType=application/x-kpovmodeler;
Name=KPovModeler
Name[be]=KPovModeler
Name[bg]=KPovModeler
Name[bs]=KPovModeler
Name[ca]=KPovModeler
Name[ca@valencia]=KPovModeler
Name[cs]=KPovModeler
Name[da]=KPovModeler
Name[de]=KPovModeler
Name[el]=KPovModeler
Name[en_GB]=KPovModeler
Name[eo]=KPovModeler
Name[es]=KPovModeler
Name[et]=KPovModeler
Name[fr]=KPovModeler
Name[ga]=KPovModeler
Name[gl]=KPovModeler
Name[he]=KPovModeler
Name[hi]=के-पोव-माडलर
Name[hne]=के-पोव-माडलर
Name[hr]=KPovModeler
Name[hu]=KPovModeler
Name[is]=KPovModeler
Name[it]=KPovModeler
Name[ja]=KPovModeler
Name[km]=KPovModeler
Name[ku]=KPovModeler
Name[lt]=KPovModeler
Name[lv]=KPovModeler
Name[ml]=കെപൊവ്മോഡെലര്‍
Name[ms]=KPovModeler
Name[nb]=KPovModeler
Name[nds]=KPovModeler
Name[nl]=KPovModeler
Name[pa]=KPovModeler
Name[pl]=KPovModeler
Name[pt]=KPovModeler
Name[pt_BR]=KPovModeler
Name[ro]=KPovModeler
Name[ru]=KPovModeler
Name[sk]=KPovModeler
Name[sv]=Kpovmodeler
Name[tr]=KPovModeler
Name[uk]=KPovModeler
Name[vi]=KPovModeler
Name[x-test]=xxKPovModelerxx
Name[zh_CN]=KPovModeler
Name[zh_TW]=KPovModeler
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart,Browser/View
Type=Service
X-KDE-Library=libkpovmodelerpart
